// Общий шрифт на сайте
$font: 'Open Sans', sans-serif;

// Цвета
$color-white: #FFFFFF;
$color-light-blue: #EDF2F7;
$color-gray: #BEC6CE;
$color-gray-light: #BFCCDD;
$color-gray-menu-icon: #787D86;
$color-gray-menu-splitter: #505A6D;
$color-soft-blue: #005BAD;
$color-blue: #004E95;
$color-dark-blue: #303A4B;
$color-black: #444444;
$color-orange: #EB6E00;

// Блок с тенью
@mixin box-shadow($r, $g, $b, $a, $radius) {
  box-shadow: 0 0 $radius 0 rgba($r, $g, $b, $a);
  -moz-box-shadow: 0 0 $radius 0 rgba($r, $g, $b, $a);
  -webkit-box-shadow: 0 0 $radius 0 rgba($r, $g, $b, $a);
}

@mixin transition($time) {
  -webkit-transition: all $time ease-out 0s;
  -moz-transition: all $time ease-out 0s;
  -o-transition: all $time ease-out 0s;
  transition: all $time ease-out 0s;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

// НАЧАЛО КОДА

body {
  font-family: $font !important;
  color: #333;
}

.container {
  padding: 11px 0;
  font-size: 16px;
  width: 1170px !important;
}

.bg1 {
  background-color: $color-blue;

  .logo {
    background-image: url("../img/logo.png");
    display: block;
    width: 179px;
    height: 57px;
    margin-top: 10px;
  }

  .text1 {
    color: $color-white;
    font-size: 26px;
    font-weight: bold;
  }

  .text2 {
    color: $color-white;
    font-size: 16px;
  }

  .text3 {
    color: $color-white;
    font-size: 14px;
    font-weight: 600;

    a,
    a:active {
      color: $color-white;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.bg2 {
  background-color: $color-dark-blue;

  .container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .blocks {
    display: table;
    width: 100%;

    > .splitter {
      display: table-cell;
      border-left: 1px solid $color-gray-menu-splitter;
      padding: 0 3px;
    }
    > .block {
      display: table-cell;
      color: $color-gray;
      vertical-align: middle;
      padding-right: 3px;

      a.home_button {
        display: block;
        width: 23px;
        height: 22px;
        background-image: url("../img/home_icon.png");
      }

      a.cart_button {
        text-decoration: none;
        font-size: 16px;
        color: $color-white;
        font-weight: 600;
        position: relative;

        &:hover {
          color: $color-gray;
        }
      }
    }

    > .searchform {
      display: table-cell;
      position: relative;

      > .block {
        position: absolute;
        background-color: $color-soft-blue;
        width: 368px;
        z-index: 50;
        left: -12px;
        display: table;

        > .icon {
          display: table-cell;
          background-image: url("../img/lens_icon.png");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          width: 44px;
          height: 53px;
          border-right: 1px solid #0067C4;
          cursor: pointer;
        }

        > .field {
          display: table-cell;
          vertical-align: middle;
          padding: 0 10px;
        }

        > .button {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}

.bg3 {
  background-color: $color-light-blue;
  margin-top: 35px;
  margin-bottom: 40px;

  .block {
    position: relative;

    .center_images {
      position: relative;
      margin-top: -40px;
      display: table;
      width: 100%;

      > div {
        display: table-cell;
        width: 16.666%;
        text-align: center;
      }
    }

    .center_links {
      display: table;
      background-color: $color-blue;
      width: 100%;
      margin-bottom: -30px;

      a {
        width: 16.666%;
        display: table-cell;
        color: $color-gray-light;
        text-align: center;
        padding: 15px 0;
        font-weight: 600;
        font-size: 16px;
        vertical-align: middle;
        border-right: 1px solid $color-soft-blue;
      }
    }
  }
}

.bg4 {
  background-color: $color-soft-blue;
}

/* MAIN MENU BEGIN */
ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 600 !important;
  font-size: 16px;
  display: table;
  width: 100%;

  .arrow {
    background-image: url("../img/arrow-white-right.png");
    background-position: 95% 50%;
    background-repeat: no-repeat;
  }

  .active {
    background-color: $color-orange;
    color: $color-white !important;
  }

  > li {
    display: table-cell;

    > a {
      display: block;
      padding: 15px 15px !important;
      color: $color-gray !important;
      text-decoration: none;
      text-align: center;
      font-size: 16px !important;
      white-space: nowrap;
    }

    li {
      float: left;

      a {
        text-align: left;
      }
    }
  }

  li {
    margin: 0;
    position: relative;

    a {
      display: block;
      padding: 10px 15px;
      color: $color-white;
      text-decoration: none;
      font-size: 14px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      background-color: $color-soft-blue;
      min-width: 200px;
      opacity: 0;
      visibility: hidden;
      z-index: 99;
      color: $color-white !important;
    }
  }
}

ul.menu li a:hover,
ul.menu li:hover > a {
  background-color: $color-orange;
  color: $color-white !important;
}

ul.menu ul li {
  float: none;
}

ul.menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  left: 0;
}

ul.menu > li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
  left: 0;
}

ul.menu li > ul ul {
  top: 0;
  left: 90%;
}

ul.menu li > ul li:hover > ul {
  left: 100%;
}

/* MAIN MENU END */

/* SUB MENU BEGIN */
ul.menu2 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 600;
  width: 100%;
  background-color: $color-blue;

  .arrow {
    background-image: url("../img/arrow-white-right.png");
    background-position: 95% 50%;
    background-repeat: no-repeat;
  }

  .active {
    background-color: $color-orange;
    color: $color-white !important;
  }

  > li {

    li {

      a {
        text-align: left;
      }
    }
  }

  li {
    margin: 0;
    position: relative;

    > a {
      display: block;
      padding: 9px 15px;
      color: $color-white;
      text-decoration: none;
    }

    .ins {
      background-image: url("../img/menu2_arrow.png");
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      background-color: $color-soft-blue;
      min-width: 260px;
      opacity: 0;
      visibility: hidden;
      z-index: 99;
      color: $color-white !important;
      left: 100%;
    }
  }
}

ul.menu2 li a:hover,
ul.menu2 li:hover > a {
  background-color: $color-orange;
  color: $color-white !important;
}

ul.menu2 ul li {
  //float: none;
}

ul.menu2 li:hover > ul {
  opacity: 1;
  visibility: visible;
  //left: 0;
  //max-height: 260px
}

ul.menu2 > li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 0;
  right: 0;
}

ul.menu2 li > ul ul {
  top: 0;
  left: 90%;
}

ul.menu2 li > ul li:hover > ul {
  left: 100%;
}

/* SUB MENU END */

.button-orange {
  color: $color-white;
  background-color: $color-orange;
  padding: 5px 12px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  @include border-radius(3px);

  &:hover {
    text-decoration: none;
    color: $color-white;
  }
}

.button-orange-small {
  color: $color-white;
  background-color: $color-orange;
  padding: 5px 12px;
  border: 0;
  font-size: 13px;
  font-weight: 600;
  @include border-radius(3px);

  &:hover {
    text-decoration: none;
    color: $color-white;
  }
}

.btn-orange {
  color: $color-white;
  background-color: $color-orange;
  font-size: 15px;
  font-weight: 600;
}

.icon_lens {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/lens_icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  cursor: pointer;
}

.icon_cart {
  display: inline-block;
  width: 26px;
  height: 25px;
  background-image: url("../img/cart_icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  vertical-align: middle;
  margin-right: 7px;
}

.icon_flag {
  display: inline-block;
  width: 20px;
  height: 24px;
  background-image: url("../img/flag_icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  margin-right: 7px;
  vertical-align: middle;
}

.icon_notification {
  @include border-radius(15px);
  background-color: $color-gray-menu-icon;
  color: $color-white;
  font-size: 12px;
  font-weight: 600;
  width: 22px;
  height: 22px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  display: block;
  position: absolute;
  top: -10px;
  right: -10px;

  &.active {
    background-color: $color-orange !important;
  }
}

.icon_notification_active {
  @include border-radius(15px);
  background-color: $color-orange;
  color: $color-white;
  font-size: 11px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  display: block;
  position: absolute;
  top: -10px;
  right: -10px;

  &.active {
    background-color: $color-orange !important;
  }
}

a.orange {
  font-weight: 600;
  color: $color-orange;
  text-decoration: underline;
  &:hover,
  &:active,
  &:focus {
    color: $color-orange;
  }

  + .active {
    text-decoration: none;
    font-weight: 800;
  }
}

a.gray {
  font-weight: 600;
  color: $color-gray;
  text-decoration: underline;
  position: relative;
  &:hover {
    color: $color-orange;

    > div.sizes {
      display: block;
    }
  }
}

span.orange {
  color: $color-orange;
}

.text-white {
  color: $color-white;
}

.announce {
  width: 100%;
  display: table;
  margin-bottom: 25px;

  .element {
    display: table-cell;
    width: 25%;
    text-align: center;
    vertical-align: bottom;

    a:hover {
      text-decoration: none;
    }
  }
}

.announce2 {
  width: 100%;
  display: flex;
  margin-bottom: 25px;

  .element {
    display: inline-flex;
    width: 33.333%;
    padding: 0 10px;

    > a {
      width: 100%;
    }
  }
}

.proposal_block {
  a {
    font-weight: 600 !important;
  }
}

.product-announce {
  @include box-shadow(100, 100, 100, 0.2, 7px);
  border: 1px solid $color-light-blue;
  text-align: center;
  padding: 10px 20px;
  display: block;
  //font-weight: 600;
  font-size: 15px;
  line-height: normal;
  color: $color-black;
  transition: all .2s ease-in-out;
  position: relative;

  &:hover {
    text-decoration: none;
    color: $color-black;
    @include box-shadow(5, 5, 5, 0.2, 20px);
  }

  img {
    margin-bottom: 10px;
    margin: 0 auto;
  }

  .sticker1 {
    right: 25px;
    top: 140px;
    background-color: $color-orange;
    width: 80px;
    height: 80px;
    display: block;
    position: absolute;
    z-index: 1;
    @include border-radius(80px);
    border: 3px solid $color-white;

    span {
      font-size: 26px;
      vertical-align: middle;
      text-align: center;
      width: 80px;
      height: 80px;
      display: table-cell;
      font-weight: 600;
      color: $color-white;
    }
  }

  .sticker2 {
    left: 0;
    top: 20px;
    width: 116px;
    height: 22px;
    display: block;
    position: absolute;
    background-image: url("../img/sticker_popular.png");
  }

  .sticker3 {
    left: 0;
    top: 20px;
    width: 92px;
    height: 22px;
    display: block;
    position: absolute;
    background-image: url("../img/sticker_new.png");
  }
}

.product-announce-active {
  @include box-shadow(100, 100, 100, 0.2, 7px);
  border: 1px solid $color-light-blue;
  text-align: center;
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  color: $color-black;
  position: relative;

  &:hover {
    text-decoration: none;
    color: $color-white;
    @include box-shadow(5, 5, 5, 0.2, 20px);

    & > .bg {
      background: rgba(0, 91, 173, 0.8);

      > span {
        display: block;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 36%;
        @include box-shadow(30, 30, 30, 0.5, 9px);
      }
    }
  }

  .text {
    position: relative;
    z-index: 9;
  }

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    > span {
      display: none;
      position: absolute;
    }
  }

  img {
    margin-bottom: 10px;
    z-index: 3;
  }
}

/* MODAL BEGIN */
.modal-bg-dark {
  background-color: $color-blue !important;
  color: $color-white !important;

  .modal-header {
    border-bottom: none;
    padding-bottom: 0 !important;

    h3 {
      font-weight: 800;
      text-align: center;
    }
  }

  .modal-footer {
    border-top: 1px solid $color-dark-blue !important;
    font-size: 16px;
    font-weight: 600;
    color: $color-gray-light;
  }

  .modal-footer-white {
    border-top: 1px solid $color-dark-blue !important;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
  }

  .body-half {
    width: 73%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
  }

  .orange-block {
    background-color: $color-orange;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
  }
}

/* MODAL END */

/* BREAD CRUMBS BEGIN */
.breadcrumbs {
  color: $color-gray;
  font-size: 16px;
  font-weight: 600;

  a {
    color: $color-gray;

    &:hover {
      color: $color-orange;
    }
  }

  span {
    margin: 0 5px;
    display: inline-block;
  }
}

/* BREAD CRUMBS END */

/* INFO BLOCK BEGIN */
.info-block {
  background-color: $color-light-blue;
  @include box-shadow(100, 100, 100, 0.2, 10px);

  .title {
    display: table;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid $color-gray;
    cursor: pointer;

    > div {
      display: table-cell;

      &.text {
        font-weight: 600;
      }
    }
  }

  > .content {
    padding: 10px;
    border-bottom: 1px solid $color-gray;
    line-height: 16px;
    font-size: 13px;
  }
}

.info-block2 {
  background-color: $color-light-blue;
  @include box-shadow(100, 100, 100, 0.2, 10px);

  .title {
    display: table;
    width: 100%;
    padding: 10px 10px 0 10px;
    cursor: pointer;

    > div {
      display: table-cell;

      &.text {
        font-weight: 600;
      }
    }
  }

  > .content {
    padding: 10px;
    line-height: 16px;
    font-size: 13px;
  }
}

/* INFO BLOCK END */

/* RESULT BLOCK BEGIN */
.result-block {
  background-color: $color-light-blue;
  @include border-radius(5px);

  .text {
    padding: 13px;
    font-size: 16px;
  }

  .splitter {
    border-bottom: 1px solid $color-gray;
  }
}

/* RESULT BLOCK END */

.cart-block {
  @include box-shadow(100, 100, 100, 0.3, 8px);
  padding: 20px;
  margin: 10px 0 20px 0;

  > .block1 {
    display: table;
    width: 100%;
    position: relative;

    > div {
      display: table-cell;
      vertical-align: middle;
      float: none !important;
      padding: 10px;

      &.price {
        width: 120px;
        text-align: center;
        font-weight: 600;
        font-size: 17px;
      }

      &.contents {
        width: 510px;
      }
    }

    .right-icon {
      position: absolute;
      right: -10px;
      top: -18px;
    }
  }
}

.input-group {
  .input-group-btn {
    button {
      background: none;
      background-color: $color-orange !important;
      color: $color-white !important;
    }
  }

  .form-control2 {
    padding: 6px 2px !important;
    display: table-cell;
    width: 100%;
    font-size: 14px;
  }
}

.cart-block-noactive {
  color: $color-gray !important;

  img {
    opacity: 0.45;
  }

  .input-group {
    opacity: 0.5;

    .input-group-btn {
      button {
        background-color: $color-gray !important;
      }
    }
  }
}

div.sizes {
  position: absolute;
  top: 25px;
  right: 0;
  width: 860px;
  background-color: $color-blue;
  color: $color-white;
  display: none;
  font-size: 13px;
  font-weight: normal;
  @include box-shadow(60, 60, 60, 0.3, 15px);
  @include border-radius(10px);
  padding: 12px;
  z-index: 30;
  text-align: left;

  &::after {
    border-color: transparent transparent $color-blue transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 0;
    margin-top: -20px;
    position: absolute;
    right: 55px;
    top: 0;
    width: 0;
  }
}

div.position {
  position: relative;
  display: inline-block;
}

div.helper {
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
  width: 260px;
  background-color: $color-blue;
  color: $color-white;
  font-size: 16px;
  font-weight: normal;
  @include box-shadow(60, 60, 60, 0.3, 15px);
  @include border-radius(7px);
  padding: 12px 12px 12px 70px;
  z-index: 20;
  text-align: left;
  background-image: url("../img/icon_attention_small.png");
  background-repeat: no-repeat;
  background-position: 17px 50%;

  &::after {
    border-color: transparent transparent $color-blue transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 0;
    margin-top: -20px;
    position: absolute;
    left: 70px;
    top: 0;
    width: 0;
  }
}

#slider1 {
  position: relative;
  height: 350px;
  overflow: hidden;

  img {
    position: absolute;
    z-index: 1;

    &.active {
      z-index: 3;
    }
  }
}

.grid {
  width: 100%;
  display: table;
  margin-top: 15px;
  margin-bottom: 15px;
  .element {
    display: table-cell;
    vertical-align: middle;
    padding: 0 3px;
  }
}

.grid-modal-footer {
  width: 100%;
  display: table;
  border-top: 1px solid $color-gray;

  .element {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 6px;

    &:nth-child(3) {
      border-left: 1px solid $color-gray;
    }
  }
}

#indexFormAnnounce {
  position: relative;

  > .info-block-index {
    position: absolute;
    width: 290px;
    background-color: $color-light-blue;
    @include box-shadow(100, 100, 100, 0.2, 10px);
    z-index: 30;
    top: -20px;

    .title {
      display: table;
      width: 100%;
      padding: 10px 10px 0 10px;

      > div {
        display: table-cell;
      }
    }

    > .content {
      padding: 10px;
      line-height: 16px;
      font-size: 14px;
      font-weight: 600 !important;
      color: #555;
    }
  }
}

#indexFormAnnounceClose {
  cursor: pointer;
}

.bx-wrapper {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  margin: 0 auto !important;

  .bx-viewport {
    padding: 0 20px;
  }

  .bx-prev {
    left: -20px !important;
  }

  .bx-next {
    right: -20px !important;
  }
}

/* INTERFACE - RADIO */
input[type="radio"] {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
  cursor: pointer;

  + label {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
  }

  &:not(checked) {
    position: absolute;
    opacity: 0;

    + label {
      position: relative;
      padding: 0 0 0 35px;

      &:before {
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 22px;
        height: 22px;
        border: 1px solid #CDD1DA;
        border-radius: 50%;
        background: #FFF;
      }

      &:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 4px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: $color-orange;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
        opacity: 0;
        transition: all .2s;
      }
    }
  }

  &:checked + label:after {
    opacity: 1;
  }

  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
  }
}

/* INTERFACE - CHECKBOX DESIGN*/
.checkbox-switcher {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;

  + label {
    cursor: pointer;
  }

  &:not(checked) {
    position: absolute;
    opacity: 0;

    + label {
      position: relative;
      padding: 0 0 0 60px;

      &:before {
        content: '';
        position: absolute;
        top: -4px;
        left: 0;
        width: 50px;
        height: 26px;
        border-radius: 13px;
        background: #CDD1DA;
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
      }

      &:after {
        content: '';
        position: absolute;
        top: -2px;
        left: 2px;
        width: 22px;
        height: 22px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
        transition: all .2s;
      }
    }
  }

  &:checked {
    + label {
      &:before {
        background: $color-orange;
      }
      &:after {
        left: 26px;
      }
    }
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
    }
  }
}

/* MISC*/
.header-title-bold {
  margin-bottom: 7px;
  font-weight: 600;
}

.header-title-bold2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}

.title-bold {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 14px;
  color: #444;
}

textarea.noresize {
  resize: none;
  background-image: url("../img/arrow-down.png");
  background-repeat: no-repeat;
  background-position: 99% 97%;
}

.bookmarks-list-group {

  > button {
    background-color: #EDF2F7 !important;
    font-size: 17px !important;
    font-weight: 600;
    padding: 5px 20px;
    border: none !important;

    &:hover {
      background-color: $color-orange !important;
      color: $color-white !important;
    }
  }

  .splitter {
    border-top: 1px solid #ddd;
    margin: 1px 0;
  }
}

.site-icon {
  color: $color-orange;
  font-size: 28px;
}

select {
  display: inline-block;
  border: 2px solid #bbb;
  padding: 4px 3px 3px 5px;
  margin: 0;
  font: inherit;
  outline: none; /* remove focus ring from Webkit */
  line-height: 1.2;
  background: #f8f8f8;

  -webkit-appearance: none; /* remove the strong OSX influence from Webkit */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.modal-title {
  font-size: 24px;
  text-align: center;
  font-weight: 700 !important;
}

/* CHECKBOX CUSTOMISATION */
.custom-checkbox {
  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #aaa;
    background: $color-white;
    border-radius: 3px;
  }

  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    font-family: "Arial";
    content: "V";
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 18px;
    line-height: 0.8;
    color: $color-orange;
    transition: all .2s;
    font-weight: 700;
  }

  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }

  [type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }

  [type="checkbox"]:disabled + label {
    color: #aaa;
  }
}

.custom-checkbox-text {
  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    cursor: pointer;
  }

  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label {
    font-weight: 600;
    color: #666;
    text-decoration: underline;
  }

  [type="checkbox"]:checked + label {
    font-weight: 700;
    color: $color-orange;
    text-decoration: none;
  }
}

/* CATALOG STYLES */
.catalog-label-gray {
  font-size: 12px;
  color: $color-gray;
  font-weight: 400;
}

.catalog-label-image {
  border: 1px solid #BBB;
  margin-top: -3px;
  @include border-radius(3px);
}

.basket_total {
  font-size: 17px;
  font-weight: 600;

  & > div {
    margin-bottom: 12px;
  }

  .small-text {
    font-size: 14px;
  }
}

/* SELECT BOX */
label.custom-select {
  position: relative;
  display: inline-block;

  select {
    display: inline-block;
    border: 1px solid $color-gray;
    padding: 4px 23px 3px 5px;
    margin: 0;
    outline: none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: $color-white;

    -webkit-appearance: none; /* remove the strong OSX influence from Webkit */

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #666;
    font-size: 15px;
  }

  &:after {
    background-image: url("../img/select_arrow_down.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: $color-orange;
    content: "   ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 30px;
    //padding: 0 11px;
    width: 20px;
    //color: white;

    pointer-events: none;

    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
  }
}

.shadow-block {
  @include box-shadow(100, 100, 100, 0.3, 10px);
  margin: 25px 0;
  padding: 15px;
}

.sample-image {
  background-color: $color-gray-light;
  color: $color-white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.standoff-block {
  margin: 15px 0;
}